body {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
}

.font_DPTBlacksword {
  font-family: "DPT Blacksword";
  font-weight: bold;
  font-style: normal;
}

/* ============================= NAVBAR ============================= */
@media (min-width: 992px) {
  #wrapper_header .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  #wrapper_header .dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
    left: 100%;
    top: 0;
  }
}

#wrapper_header .navbar-nav .nav-link {
  color: #fff;
}

#wrapper_header .navbar-nav .nav-link:hover {
  color: rgb(0, 255, 255);
  transition: 0.3s ease-in-out;
}
/* ============================= NAVBAR ============================= */

/* ============================= NAVBAR-TOGGLER ============================= */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 1.6em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
/* ============================= NAVBAR-TOGGLER ============================= */

/* ============================= CAROUSEL ============================= */
#header_carousel {
  height: 80vh;
}

#header_carousel img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

#header_carousel .carousel-caption {
  top: 20%;
}

#header_carousel .carousel-caption h3 {
  font-size: 55px;
}
/* ============================= CAROUSEL ============================= */

/* ============================= HEADER SEARCHBAR ============================= */
@keyframes searchbarfloat {
  0% {
    bottom: -30%;
    opacity: 0;
  }
  100% {
    bottom: -5%;
    opacity: 1;
  }
}

.header_searchbar {
  bottom: -5%;
  left: 50%;
  animation: 1.8s ease-out searchbarfloat;
}
/* ============================= HEADER SEARCHBAR ============================= */

.content {
  font-size: 18px;
}

.link_a a {
  text-decoration: solid blue 1px;
  color: black;
}

.link_a ul {
  list-style-type: none;
}

.link_a a:hover {
  color: blue;
}

.background-image {
  background-image: url("../img/GioiThieu/rsz_1hinh-nen-full-hd-canh-dong-lua-viet-nam.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.title_booking {
  padding: 3px 5px;
  border-radius: 20px;
  background-color: rgb(179, 238, 240);
}

.text-overlay {
  background: rgba(255, 255, 255, 0.67);
  /* Màu trắng với độ mờ 0.5 */
}

.hover_btn:hover {
  background-color: aliceblue;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}

/* ============================= FOOTER ============================= */
#wrapper_footer p {
  font-size: 16px;
}

#wrapper_footer a {
  color: black;
  text-decoration: none;
}
/* ============================= FOOTER ============================= */
